.venv
.env
__pycache__*
**.log
**.log.[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]
**log.txt
**.npy
**.pyc
**#*
**sqlite3
**secrets*
**.DS_Store
.vscode
.vscode/settings.json
*.code-workspace
*.DS_Store

postgres_data

